<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="lpubsppop01.EBookBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <lpubsppop01.EBookBuilder.Properties.Settings>
            <setting name="MainWindow_Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindow_Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindow_Width" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="MainWindow_Height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="MainWindow_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </lpubsppop01.EBookBuilder.Properties.Settings>
    </userSettings>
</configuration>
